# Dependency directories
node_modules/

# dotenv environment variables file
.env

#########################################
#CUSTOM
#########################################
dist/
.vscode
serviceAccountKey.json
client_secret.json